APP_NAME="Farmonitor"
APP_URL=http://localhost:3000
APP_TIMEZONE=Asia/Jakarta

FARMONITOR_ADMIN_EMAIL="youremail@mail.com"
FARMONITOR_ADMIN_PASSWORD="yourpassword"
FARMONITOR_SESSION_SECRET="change-this-secret"

BLYNK_TOKEN="your token"
GOOGLE_SHEET_WEB_APP_URL="your url"
OPENROUTER_API_KEY="your key"
OPENROUTER_MODEL="openrouter/free"